<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js" sync></script>
<div class="passage">
  <div class="passage-meta">
    <span>
      <i class="fa fa-calendar"></i><%- page.date.format("YYYY-MM-DD") %>
    </span>
    <% if(page.categories.length > 0) { %>
      <span>
        | <a href="<%- url_for(page.categories.data[0].path) %>"><i class="fa fa-bookmark"></i><%- page.categories.data[0].name %></a>
      </span>
    <% } %>
    <% if(page.lock === true) { %>
      <span>
        | <i class="fa fa-lock"></i>LOCK
      </span>
    <% } else { %>
      <span>
        | <i class="fa fa-unlock-alt"></i>UNLOCK
      </span>
    <% } %>
  </div>
  <h1 class="passage-title">
    <%- page.title %>
  </h1>
  <% if(page.cover){ %>
    <div class="passage-cover">
      <figure style="background-image:url(<%-page.cover%>)"></figure>
    </div>
  <% } %>
  <article class="passage-article">
    <%- page.more %>
  </article>
  <%- partial('components/toc') %>
  <% if(theme.copyright.enable) { %>
    <aside class="passage-copyright">
      <div>本文作者: <%- theme.copyright.author || theme.author || config.author %></div>
      <% if(theme.copyright.show_link) { %>
        <div>
          原文链接: 
          <a href="<% url_for(page.path)%>" target="_blank"><%- page.permalink %></a>
        </div>
      <% } %>
      <div>
        <%- theme.copyright.more %>
      </div>
    </aside>
  <% } %>
  <% if(page.tags.length > 0) { %>
    <div class="passage-tags">
    <% for(let tag of page.tags.data) { %> 
      <a href="<%- url_for(tag.path) %>"><i class="fa fa-tags"></i><%- tag.name %></a>
    <% } %>
    </div>
  <% } %>
</div>

 <% if(theme.aplayer.isplay){ %>
    <script>
        (function(){
          var div = document.createElement("div");
          div.setAttribute("class","passagesMusic");
          var stick = document.querySelector(".passage-article");
          stick.parentElement.insertBefore(div,stick);
          var musicInfo;
          // 文章详情
          fetch(`<%=theme.aplayer.api%>?sort=<%=theme.aplayer.sort%>&format=<%=theme.aplayer.format%>`)
          .then(response => {
                  if (response.ok) {
                      return response.json()
                  } else {
                      div.innerHTML = "音乐请求失败，请稍后重试";
                  }
          })
          .then(function (data) {
                 musicInfo = data;
                const ap = new APlayer({
                    container: document.querySelector(".passagesMusic"),
                    listFolded: false,
                    listMaxHeight: 90,
                    audio: [{
                        name: data.data.name,
                        url: data.data.url,
                        cover: data.data.picurl,
                        theme: '#ebd0c2'
                    }]
                  });
          })
          .catch(function (err) {
              div.innerText =err;
          });
        })()
    </script>
<% } %>